@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vina+Sans&display=swap');
body{
    background-color: #1C1C1C}
    
.container{
    background-color: #363636;
    width: 960px;
    /* Define a área de conteúdo */
    margin: auto;
    /* Define a margem de acordo com o tamanho da tag */
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: aliceblue;
    border-radius: 10px;
}
header, footer{
    box-shadow: 0px 00px 20px rgba(0, 0, 0, 0.438);
    background-color: #1C1C1C;
    padding: 3px;
    border-radius: 10px;
}
header{
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: "Vina Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 300%;
    color: #C0C0C0;
    
}
a{
    text-decoration: none;
    /* Decoration serve para formatação*/
    color:#8b8b8b;
}
p{
    text-align: center;
}
img{
    box-shadow: 0px 00px 20px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    width: 960px;
    text-align: center;
}
.desc, nav{
    padding: 30px;
}